// ------------------reset------------------
@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css); //這個是cwTeXFangSong
@import './variable';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    font-size: 15px;
    background: transparent;
}

body{
    margin: 0;
    // Times New Roman && 微軟正黑體 為內建
    font-family: "cwTeXFangSong", "Raleway", "Times New Roman", sans-serif, \5FAE\8EDF\6B63\9ED1\9AD4, Heiti TC;
}

a {
    cursor: pointer;
    color: #000;
    transition:  all .4s ease;
    text-decoration: none;
}

li {
    cursor: pointer;
    list-style-type: none;
    float: left;
}

button {
    border: none;
    // border-radius: 0.5rem;
}

// -------------常用樣式-----------------

// ---flex---
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex-grow: 1;
}

// ---寬高 100%---
.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

// ---要不要換行--- 
.fl-nowrap {
    flex-wrap: nowrap;
}

.fl-wrap {
    flex-wrap: wrap;
}

// ---字體加粗---
.fw-bold {
    font-weight: bold;
}

// ----------------用each 跑出所需樣式----------------
// ---flex---
@each $key,
$value in $flex-jc {
    .jc-#{$key} {
        justify-content: $value;
    }
}

@each $key,
$value in $flex-ai {
    .ai-#{$key} {
        align-items: $value;
    }
}

// ---spacing---
@each $typeKey,
$type in $spacing-types {

    // .m-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}-#{$sizeKey} {
            #{$type}: $size * $spacing-base-size;
        }
    }

    // .mx-1
    @each $sizeKey,
    $size in $spacing-sizes {
        .#{$typeKey}x-#{$sizeKey} {
            #{$type}-left: $size * $spacing-base-size;
            #{$type}-right: $size * $spacing-base-size;
        }

        .#{$typeKey}y-#{$sizeKey} {
            #{$type}-top: $size * $spacing-base-size;
            #{$type}-bottom: $size * $spacing-base-size;
        }
    }

    // .mt-1
    @each $directionKey,
    $direction in $spacing-direction {

        @each $sizeKey,
        $size in $spacing-sizes {
            .#{$typeKey}#{$directionKey}-#{$sizeKey} {
                #{$type}-#{$direction}: $size * $spacing-base-size;
            }
        }
    }
}

// ---colors---
@each $colorKey,
$color in $colors {
    .text-#{$colorKey} {
        color: $color;
    }

    .bg-#{$colorKey} {
        background-color: $color;
    }
}

// ---font size---
@each $sizeKey,
$size in $font-sizes {
    .fs-#{$sizeKey} {
        font-size: $size * $base-font-size;
    }
}

// ---text align---
@each $var in (left, center, right) {
    .text-#{$var} {
        text-align: $var;
    }
}